/* Basic responsive Layout 
================================================== */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.page-footer{
  margin: 3rem auto;
  text-align: center;
  max-width: 70chr;
}

@media screen and (min-width: 600px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .grid .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1500px;
  }
}
/* end min-width: 1200px */